* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* ESTILOS GERAIS */

body {
    background-color: #000;
    background-size: cover;
    height: 100vh;
    z-index: 99999;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}


/* ESTILOS CABEÇALHO */
header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .2s;
}

header a{
    color:#7D7D7D;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;

}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;   
}

.logo img{
    width: 100px;
}

/* ESTILOS MENU-MOBILE */
.btn-abrir-menu i{
    color:#fff;
    font-size: 60px;
    box-shadow: #000;
    cursor: pointer;
}

.menu-mobile {
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.open-menu {
    width: 70%;
}

.menu-mobile.open-menu ~ .overlay-menu {
    display: block;
}

.menu-mobile .btn-fechar {
    padding: 20px 4%;
}

.menu-mobile .btn-fechar i{
    color: #000000;
    font-size: 30px;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: #000000;
    color: #000;
}

.overlay-menu {
    background-color: #00000085;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/* ESTILOS TOPO-DO-SITE */
.gap {
    display: flex;
    align-items: center;
    gap: 400px;
}
.carousel-item {
    padding: 20px 6%;
}

.carousel-item button{
    display: flex;
    background-color: #00000000;
    border-radius: 20px;
    width: 200px;
    border-color: #fff;
    transition: .2s;
    margin: auto;
    margin-top: -100px;
}

.carousel-item button:hover {
    background-color: red;
}

.carousel-item button a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    margin: auto;
}

h3 .title {
    color: #fff;
    background-color: #fff;
    z-index: 1000000;
}