
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}


body{
    background-image: url('/assets/img/fundo.jpg');
    color: white;
    font-family: 'Anton', sans-serif;


header {
    padding: 10px 4%;
    
}


header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .2s;
}

header a{
    color:#000000;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    font-weight: 700;
}

header nav.menu-desktop a:hover {
    color: #f00;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;

}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;   
}

.logo img{
    width: 100px;
}


.btn-abrir-menu i{
    color:#ff0000;
    font-size: 60px;
    box-shadow: #000;
    cursor: pointer;
    font-weight: 700;
}

.btn-abrir-menu i:hover {
    color: #000;
}


.menu-mobile {
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.open-menu {
    width: 70%;
}

.menu-mobile.open-menu ~ .overlay-menu {
    display: block;
}

.menu-mobile .btn-fechar {
    padding: 20px 4%;
}

.menu-mobile .btn-fechar i{
    color: #000000;
    font-size: 30px;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: #000000;
    color: #000;
}

.overlay-menu {
    background-color: #00000085;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

}



.menuSearch{
    display: flex;
    justify-content: flex-end;
    margin: 3%;
}

.menuSearch input{
    background: none;
    border-style: none;
    border-bottom: 4px solid rgb(20, 20, 20);
    padding-left: 0.2px;
    outline: none;
}

.menuSearch i{
    color: #ee2027;
    background: none;
}


h2{
    text-align: center;
    color: #ee2027;
    margin-top: 4%;
    margin-bottom: 1.5%;
    font-size: 4em;
}


#meusHerois {
    display: flex;
    flex-direction: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#meusHerois img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0px 0px 30px 0px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.185);
    border-top: 3px solid #ee2027;
}

.personagem{
    margin: 1%;
    width: 20%;
    cursor: pointer;
    border-radius: 20px 0px;
    transition: 0.50s;
}

.personagem:hover{
    transform: scale(1.040);
}

.esconder{
    display : none;
}

.mostrar{
    display: block;
}

.menuNavItens{
    margin-top: 2%;
    width: 100%;
    color: rgb(20, 20, 20);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

.menuNavItens i{
    padding: 0px 8px;
    cursor: pointer;
    transition: 0.30s;
}

.menuNavItens #numbers{
    display: flex;
    justify-content: space-around;
}

.menuNavItens a{
    text-decoration: none;
    color: rgb(20, 20, 20);
    transition: 0.30s;
    padding: 0px 8px;
}

#numbers a:hover, .menuNavItens i:hover{
    color: #ee2027;
}

#containerModal, #containerModal-2{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
}

#modal, #modal-2{
    width: 60%;
    height: 60%;
    min-width: 300px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(25, 25, 25);
    animation: animate;
    animation-duration: 800ms;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

#modal p, #modal-2 p{
    color: #ee2027;
    position: absolute;
    top: 20%;
    flex-basis: 10%;
    font-size: 1.5em;
}

#modal img, #modal-2 img{
    margin-top: 5%;
    width: 45%;
    height: 85%;
    margin-left: 1%;
    border: 2px solid #ee2027;
}

@keyframes animate{
    from{opacity: 1;}
    from{opacity: 0;}
}

.desc{
    font-size: 1em;
    margin-top: 5%;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1%;
}

#fechar, #fechar-2{
    position: absolute;
    color: #ffffff;
    top: 19.50%;
    left: 77.70%;
    float: right;
    cursor: pointer;
    transition: 0.40s;
}

#fechar:hover, #fechar-2:hover{
    color: #ee2027;
}

body::-webkit-scrollbar {
    width: 12px;
}
  
body::-webkit-scrollbar-track {
    background: rgb(20, 20, 20); 
}
  
body::-webkit-scrollbar-thumb {
    background-color: #ee2027;
    border-radius: 20px;
    border: 1px solid rgb(25, 25, 25);
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(37, 32, 32); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ee2027;
    border-radius: 20px;
    border: 1px solid rgb(25, 25, 25);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #971a1f; 
}

footer {
    width: 100%;
    color: var(--color-neutral-40);
    background-color: #000;
    margin-top: 20px;
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#bi-linkedin {
    background-color: #ffffff;
    color: #fff;
}

#bi-github {
    background-color: #ffffff;
}

#marvel {
    background-color: #ffffff;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #ff0000;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
    background-color: #fff;
}

#input_group button {
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}
@media only screen and (max-width: 600px) {
    .personagem {
      width: 40%;  
    }

    #apresentacao h1{
        font-size: 2em;
    }

    #apresentacao p{
        font-size: 0.80em;
    }

    #logo img{
        width: 200%;
        margin-left: 10%;
    }

    #meuSearch input{
        width: 50%;
    }

    #fechar, #fechar-2{
        display: none;
    }

    #modal p, #modal-2 p{
        top: 25%;
        font-size: 1em;
    }

    #modal, #modal-2{
        width: 80%;
        height: 50%;
    }

    #meuHeader li{
        margin-left: 8%;
        font-size: 0.60em;
    }

}

@media (min-width:481px) and (max-width:768px){
    #apresentacao h1{
        font-size: 2.8em;
    }
}

@media only screen and (min-width: 769px){
    #meuHeader i{
        display: none;
    }
    
    #meuHeader ul{
        display: flex;
    }
}
