
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
.background {
    width: 100%;
    height: 100vh;
    inset: 0;
    position: fixed;
    z-index: -1;
}

.background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.background::after {
    content: '';
    width: inherit;
    height: inherit;
    position: fixed;
    inset: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    column-gap: 64px;
    width: 100%;
    max-width: 1440px;
    max-height: 130px;
    padding-top: 10px;
    justify-content: space-around;
}

header img {
    width: 200px;
    height: 230px;
    margin:50px 30px 0 0;
    padding: 1px;
}

.navigation {
    display: flex;
    align-items: center;
    column-gap: 70px;
    list-style: none;
    margin-top: 65px;
}

.navigation_link {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    color: white;
}

.navigation_link:hover {
    color: red;
}

.navigation_link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 60%;
    height: 1px;
    background: red;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s;
}

.navigation_link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.4s;
}

@media screen and (max-width: 992px) {
}

.navigation_social {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}

.navigation_social svg {
    width: 20px;
    height: 20px;
    opacity: 0.6;
    transition: all 0.4S;
}

.navigation_social svg:hover {
    opacity: 1;
    transform: translateY(-5px);
    cursor: pointer;
}

#filmes img {
    cursor: pointer;
    transition: all 0.4s;
    border-radius: 10px;
}

#filmes img:hover {
    content: '';
    transform: translateY(-5px);
}

#filmes {
    margin-top: 200px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-left: 50px;
    padding: 30px 0;
    transition:  all 0.4s;
    justify-content: center;
}

#filmes button {
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    padding: 10px 0;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    transform: skew(-20deg);
    background-color: red;
    color: #fff;
    outline: none;
    border: none;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 139,);
    align-items: center;
    transition: all 0.4s;
    justify-content: center;
    display: flex;
}

#filmes button:hover {
    transform: translateZ(-4px);
}
#filmes .card_filmes  img, p, a  {
    width: 60%;
    gap: 50px;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    justify-content: center;
    

}

h5{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    opacity: 1;
}

img {
    opacity: 2;
}

.back {
    background-color: rgb(17, 17, 17);
}
  
.container  {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

}

.container span {
    margin-right: 30px;
}
.card {
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(white);
    transition: all .5s;
    gap: 20px;
}

.card:hover {
    background-color: red;
}

.card .img img {
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: all .5s;
    z-index: 2;
    position: relative;
    opacity: .8;
}

.card .img span {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
    transition: all .5s;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

.card:hover .img {
    width: 100%;
    opacity: 1;
}

.card:hover .img span {
    font-size: 28px;
}

.card .content {
    padding: 0px 20px;
    height: 0;
    opacity: 0;
    transition: all .5s;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    transform: translateY(30px);
}

.card:hover .content {
    height: 260px;
    padding: 20px;
    opacity: 1;
    transform: translateY(0);
}

.card .content p {
    margin: 0;
}

.card .content .title {
    font-size: 20px;
    font-weight: 600;
}

.card .content .desc {
    font-size: 14px;
    font-weight: 100;
    opacity: .8;
    margin-top: 8px;
}

.card .arrow {
    padding: 15px;
    transform: rotate(-180deg);
    transition: all .5s;
}

.card:hover .arrow {
    transform: rotate(0);
}

.card .arrow span {
    font-size: 24px;
}

.carousel-inner {
    margin-top: 200px;
    width: 100%;
}

.w{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    border-radius: 10px;
    
}

.carousel-caption  h5{
    font-size: 30px;
    text-align: left;
    margin-left: -50px;
    background-color: red;
    box-shadow: #fff;
    width: 400px;
    height: 70px;
    color:#fff;
    border-radius: 10px;
    z-index: 999;
    box-shadow: 0 0 10px rgba(0,0,0);

}

.carousel-caption p {
    font-size: 15px;
    text-align: left;
    color: whitesmoke;
    margin-left: -50px;

}