* {
    margin: 0;
    padding: 0;
    list-style: none;
       
    }
    
@media only screen and (min-width: 700px) and (orientation: landscape) {



.titlePage{
    background-color: black;
    display: block;
    text-align: center;
    font-family: 'Young Serif', serif;
    font-size: 23px;
    color: white;
           
}

.banner {
    background-image: url(../imagens/banner.jpg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   filter: blur(5px);
   z-index: -1;


}

.personagem{
display: flex;
flex-direction: column;
align-items: center;
margin-right: 15px;



} 

.personagem__title{
   display: grid;
   justify-content: center;
   align-content: center;
   font-family:'Open Sans', sans-serif; 
   font-size: 30px;
   font-weight: 900;
   color: #d92525;
   background-color: black;
   border-radius: 10px ;
   }

.personagem__imagem {
    float: left;
    border-radius: 20px;
    max-width: 20%;
    height: auto;
    
   }

.personagem__descricao{
    color: white;
    line-height: 1.5;
    font-family:'Quicksand', sans-serif;
    font-weight: 700;
    text-align: justify;
}

}