* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* ESTILOS GERAIS */
body {
    background-image: url(/assets/img/fundo.jpg);
    background-position: center;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}


/* ESTILOS CABEÇALHO */
header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .2s;
}

header a{
    color:#000000;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    font-weight: 700;
}

header nav.menu-desktop a:hover {
    color: #ff0000;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;

}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;   
}

.logo img{
    width: 100px;
}

/* ESTILOS MENU-MOBILE */
.btn-abrir-menu{
    display: none;
}

.btn-abrir-menu i{
    color: #000000;
    font-size: 40px;
}

.menu-mobile{
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}


.menu-mobile .btn-fechar{
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i{
    color: #ff0000;
    font-size: 30px;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}   

.menu-mobile nav ul li a:hover{
    background-color: #ff0000;
    color: #000;
}

.overlay-menu{
    background-color: #000000df;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/* ESTILOS TOPO-DO-SITE */
@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
.logos {
    overflow: hidden;
    padding: 60px 4%;
    white-space: nowrap;
    position: relative;
    margin: auto;
    width: 1280px;
}
  
.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}
  
.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0));
    border-radius: 20px;
}
  
.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) rgb(255, 255, 255, 9));
    border-radius: 20px;
}
  
  
.logos-slide {
    display: inline-block;
    animation: 20s slide infinite linear;
}
  
.logos-slide img {
    height: 150px;
    margin: 0 40px;
}

section.topo-do-site .carousel-item{
    padding: 40px 6%;

}

section.topo-do-site .carousel-item .carousel-caption {
    max-width: 730px;
    text-align: center;
    color: #fff;
    margin: auto;
    margin-top: 20px;
}

section.topo-do-site .carousel-item .carousel-caption p {
    font-size: 18px;
    line-height: 30px;
    color: #7c7a7a;
    max-width: 70%;
    margin: auto;

}


.carousel-item button{
    display: flex;
    background-color: #bb0000;
    border-radius: 20px;
    width: 300px;
    border-color: #fff;
    transition: .2s;
    margin: auto;
    height: 40px;
}

.carousel-item button:hover {
    background-color: red;
}

.carousel-item button a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    margin: auto;
}

.carousel-item img {
    max-width: 100%;
    border-color: #bb0000;
}

.carousel-item p {
    color: #000;
    font-weight: 600;
}

/* ESTILO SEARCH HEROIs */

section.herois {
    padding: 40px 4%;
    border-color: #000;
    width: 1200px;
    margin: auto;
    border-radius: 20px;
    margin-top: 200px;
}

.buscar-box{
    width: 80px;
    height: 80px;
    background-color: #ff0000;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: .5s;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 50px 50px;
    color: white;
}

.buscar-box.ativar{
    width: 600px;
}

.buscar-box.remove {
    width: 80px;
}

.buscar-box .lupa-buscar, .buscar-box .btn-fechar{
    min-width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.buscar-box .btn-fechar i{
    font-size: 20px;
    margin-left: 15px;
    color: white;
}

.buscar-box .lupa-buscar i{
    font-size: 35px;
    color: white;
}

.buscar-box .input-buscar{
    position: absolute;
    left: 80px;
    height: 100%;
    line-height: 80px;
    color: white;
}

.buscar-box .input-buscar ::placeholder {
    color: #fff;
}

.buscar-box .input-buscar input{
    border: 0;
    outline: 0;
    font-size: 20px;
    background-color: red;
    color: #fff;
    text-align: center;
}
  
.swiper {
    padding: 40px 4%;
    width: 100%;
    height: 500px;
}
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #000000a1;
    color: rgb(255, 255, 255);
    border-radius: 24px;

  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
  
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

  
.swiper-button-prev, .swiper-button-next {
    color: #ffffff !important;
}
  
.swiper-button-prev::after, .swiper-button-next::after {
    font-weight: 900;
}
  
.swiper-pagination {
    color: rgb(255, 255, 255);
}
  
.hero-image {
    display: contents;
}
  
.hero-image img {
    border-radius: 24px;
    object-fit: cover;
}
  
.hero-name {
    position: absolute;
    bottom: 40px;
    border-radius: 8px;
    font-size: 17px;
    padding: 20px;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    margin-left: 10px;
}

/* NOTICIAS */
section.new {
    padding: 40px 4%;
}

.news-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
    z-index: 200;
}

.news-container .title {
    position: absolute;
    background: #df2020;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 24px;
    color: white;
    font-weight: bold;
    z-index: 200;
}

.news-container ul {
    display: flex;
    list-style: none;
    margin: 0;
    animation: scroll 25s infinite linear;
}

.news-container ul li {
    white-space: nowrap;
    padding: 10px 24px;
    color: #000000;
    position: relative;
    font-weight: 700;
}

.news-container ul li::after {
    content:"";
    width: 1px;
    height: 100%;
    background: #b8b8b8;
    position: absolute;
    top: 0;
    right: 0;
}

.news-container ul li:last-child::after {
    display: none;
}

@keyframes scroll {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-1083px);

    }
}

/* JOGO MEMORIA */

h2{
    text-align: center;
    color: #ee2027;
    margin-top: 4%;
    margin-bottom: 1.5%;
    font-size: 4em;
}

/* Scroll */
body::-webkit-scrollbar {
    width: 12px;
}
  
body::-webkit-scrollbar-track {
    background: rgb(20, 20, 20); 
}
  
body::-webkit-scrollbar-thumb {
    background-color: #ee2027;
    border-radius: 20px;
    border: 1px solid rgb(25, 25, 25);
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(37, 32, 32); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ee2027;
    border-radius: 20px;
    border: 1px solid rgb(25, 25, 25);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #971a1f; 
}

/* Jogo */
section.jogo {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 50px;
}

.game {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.2em;
    width: 100%;
    max-width: 800px;
    padding: 30px;
    margin: 0 0 30px;
    border-radius: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.game h1 {
    color: #ee2027;
    font-size: 50px;
}

.card {
    aspect-ratio: 3/4;
    width: 100%;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
    background-color: #ccc;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 5px solid #ff0000;
    border-radius: 5px;
    transition: all 400ms ease;
}

.front {
    transform: rotateY(180deg);
}
  
.back {
    background-image: url('/assets/img/costasCarta.png');
    backface-visibility: hidden;
}
  
.reveal-card {
    transform: rotateY(180deg);
}
  
.disabled-card {
    filter: saturate(0);
    opacity: 0.5;
}
  
@media screen and (max-width:920px) {
    .grid {
      grid-template-columns: repeat(5, 1fr);
  
    }
}
/* FOOTER */
footer {
    width: 100%;
    color: var(--color-neutral-40);
    background-color: #000;
    margin-top: 20px;
}

.footer-link {
    text-decoration: none;
    color: white;
}

#footer_content {
    background-color: var(--color-neutral-40);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1, p {
    margin-bottom: 0.75rem;
    color: #fff;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#bi-linkedin {
    background-color: #ffffff;
    color: #fff;
}

#bi-github {
    background-color: #ffffff;
}

#marvel {
    background-color: #ffffff;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    color: #fff;
}

.footer-list .footer-link {
    color: #fff;
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #ff0000;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: #ffffff;
}

#footer_subscribe p {
    color: #ffffff;
}

#footer_subscribe i {
    color: #000;
    font-size: 20px;
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
    color: #fff;
}

#input_group input {
    border-radius: 10px;
    padding: 0.75rem;
    width: 100%;
    background-color: #fff;
}

#input_group #message {
    resize: none;
}

#input_group button {
    border: none;
    color: #fff;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
    display: flex;
    margin: auto;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
    color: #fff;
}

/* Colocando responsividade */

@media (min-width: 360px) and (max-width: 768px) {
    .menu-desktop {
        display: none;
    }

    .topo-do-site .carousel-item button{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        
    }

    .topo-do-site .carousel-item p{
        padding: 40px 4%;
        position: absolute;
    }

    .logos {
        width: 200px;
        padding: 40px 4%;
    
    }

    section.herois {
        display: flex;
        flex-direction: column;
        width: 100%;
  
    }

    .hero-name {
        display: none;
    }

    .herois .buscar-box {
        width: 100%;
    
    }

    section.jogo {
        display: none;
    }


}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

