* {
    list-style: none;
background-color: #591C21;
        
    }



.titlePage{
    display: block;
    text-align: center;
    font-family: 'Young Serif', serif;
    font-size: 23px;
    color: white;
           
}

.personagem__title{
   display: grid;
   justify-content: center;
   align-content: center;
   font-family:'Open Sans', sans-serif; 
   font-size: 30px;
   color: #D92525;
   }

.personagem__imagem {
    float: left;
    margin-right: 15px;
    border-radius: 20px;
    width: 300px;
   }

.personagem__descricao{
    color: white;
    line-height: 1.5;
    font-family:'Quicksand', sans-serif;
    border: 2px solid wi; 
    }
