* {
    margin: 0;
    padding: 0;
    list-style: none;
       
    }
    
.titlePage{
    background-color: black;
    display: block;
    text-align: center;
    font-family: 'Young Serif', serif;
    font-size: 23px;
    color: white;
           
}

.banner {
    background-image: url(../imagens/banner.jpg);
}

.personagem{
display: flex;
flex-direction: column;
margin-right: 15px;

} 

.personagem__title{
   display: grid;
   justify-content: center;
   align-content: center;
   font-family:'Open Sans', sans-serif; 
   font-size: 30px;
   font-weight: 900;
   color: #D92525;
   }

.personagem__imagem {
    float: left;
   
    border-radius: 20px;
    max-width: 20%;
    height: auto;
    
   }

.personagem__descricao{
    color: white;
    line-height: 1.5;
    font-family:'Quicksand', sans-serif;
    font-weight: 700;
    align-items: center;
}
