* {
    margin: 0;
    padding: 0;
}

.containerproje {
    position: relative;

}

.containerproje .slide-container .slide {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 70px;

}

